/* ---------responsive design for mobile device--------- */

@media screen and (max-width: 567px) {

    .nav-container,
    .nav-items-container,
    .banner,
    .online-games,
    .card-container,
    .images {
        flex-direction: column;
        align-items: center;
    }

    .btn-primary,
    .nav-items-container,
    .nav-items-container a {
        margin: 20px 0px;
    }

    .online-games {
        width: 50%;
        flex-direction: column-reverse;
        margin: 100px 0px;
    }


    .main-image {
        width: 100%;
        margin: 0px;
    }

    .screen-img {
        width: 200px;
        margin-top: -200px;
        margin-left: 250px;
    }

    .nav-items-container a,
    {
    padding: 10px;
}

.banner-img {
    width: 100%;
}


}

/* -----responsive for tablet device------ */
@media screen and (min-width: 567px) and (max-width:992px) {
    .card-container {
        flex-wrap: wrap;
    }
}