/* ---------responsive design for mobile device--------- */
@media screen and (max-width: 567px) {

    .nav-container,
    .nav-items-container,
    .banner,
    .card-container,
    .online-games {
        flex-direction: column;
        align-items: center;
    }

    .online-games {
        text-align: center;
        flex-direction: column-reverse;
    }

    .nav-items-container a,
    {
    padding: 10px;
}

.banner-img {
    width: 700px;
    height: 100px;
}


}