/* ------------header section start--------- */


.nav-container {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}

.logo-container {
    display: flex;
}

.span-title {
    color: rgb(219, 35, 173);
}

.logo-container img {
    width: 90px;
    height: 50px;
    padding: 20px;

}

.logo-container p {
    font-size: 30px;


}

.nav-items-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    width: 50%;
}

.nav-items-container a {
    text-decoration: none;
}

.follow-btn {
    align-items: center;
    background-color: gray;
    padding: 5px 10px;
    border-radius: 5px;
    color: black;

}

.youtube-logo {
    width: 30px;
    margin-left: 20px;
    height: 30px;
}


/* ------------header section end----------- */

/*--------- banner section start--- */
main {
    margin: ;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 211, 215);
    padding: 50px;
}

.banner-text {
    width: 50%;
}

.banner-title {
    font-size: 35px;
    font-weight: 900;
}

.gt {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;


}

.banner-des {
    font-size: 20px;
    padding: 5px 5px;
}

.banner-img {
    width: 711px;
    height: 446px;


}

.btn-primary {
    width: 130px;
    border: none;
    border-radius: 25px;
    padding: 20px;
    background: rgb(219, 35, 173);
    color: white;
}

.btn-secondary {
    width: 130px;
    border: none;
    border-radius: 25px;
    padding: 20px;
    background: lightskyblue;
    color: white;
}

/*--------- banner section end--- */

/* ------online games part start------- */
.funny-videoes-container {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.games-title {
    font-size: 35px;
    font-weight: 900;
}

.games-des {
    font-size: 24px;
    padding: 5px 5px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-container p {
    text-align: center;

}

.img {
    width: 300px;
    height: 350px;

}



.card-3 img:hover {
    cursor: pointer;
    width: 330px;
    height: 380px;
    filter: brightness(50%);
}

/* ------ online games part end------- */


/* ------play online games part start------- */
.online-games {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 100px;
    margin-top: 100px;
    margin-bottom: 100px;

}

.online-games-text {
    width: 50%;
}

.images {
    display: flex;
}

.main-img {
    width: 410px;
    height: 550px;
    flex-shrink: 0;
}

.screen-img {
    width: 160px;
    height: 260px;
    flex-shrink: 0;
    margin-left: -110px;
    margin-top: 350px;

}

/* ------play online games part end------- */

/* ---games versions part start--- */
.game-version {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;
}

.games {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 20px;

}

.games:hover {
    text-align: center;
    border: 2px solid rgb(219, 35, 173);
    border-radius: 35px;
    height: 30px;
    cursor: pointer;
    color: rgb(219, 35, 173);
}

.games p {
    margin-left: 10px;
}


/* ---games versions part end--- */

/* -------footer part start--- */
footer {
    margin: 100px 0px 0px;
    width: 100%;
    background-color: darkblue;
    color: white;
    text-align: center;
}

footer .logo-container {
    justify-content: center;
}

.footer-p {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

footer img {
    padding: 15px;
}

footer li {
    list-style: none;
    color: rgba(255, 255, 255, 0.60);
    display: inline-flex;
    flex-wrap: wrap;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px;
}

footer img:hover {
    cursor: pointer;
    border: 1px solid white;
    border-radius: 50px;


}

.copyright {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 20px;
}

/* -------footer part end--- */