/* ------------nav section start--------- */


.nav-container {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}

.logo-container {
    display: flex;
}

.span-title {
    color: rgb(219, 35, 173);
}

.logo-container img {
    width: 90px;
    height: 50px;
    padding: 20px;

}

.logo-container p {
    font-size: 30px;


}

.nav-items-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    width: 50%;
}

.nav-items-container a {
    text-decoration: none;
}

.follow-btn {
    align-items: center;
    background-color: gray;
    padding: 5px 10px;
    border-radius: 5px;
    color: black;

}

.youtube-logo {
    width: 30px;
    margin-left: 20px;
    height: 30px;
}


/* ------------nav section end----------- */

/*--------- banner section start--- */
main {
    margin: ;
}

.banner {
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-text {
    width: 50%;
    padding: 30px;
}

.banner-title {
    font-size: 35px;
    font-weight: 900;
}

.banner-des {
    font-size: 20px;
    padding: 5px 5px;
}

.banner-img {
    width: 50%;
    height: 100px;
    padding: 50px;
    object-fit: cover;

}

.btn-primary {
    width: 130px;
    border: none;
    border-radius: 25px;
    padding: 20px;
    background: rgb(219, 35, 173);
    color: white;
}

.btn-secondary {
    width: 130px;
    border: none;
    border-radius: 25px;
    padding: 20px;
    background: lightskyblue;
    color: white;
}

/*--------- banner section end--- */

/* ------online games part start------- */
.funny-videoes-container {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.games-title {
    font-size: 35px;
    font-weight: 900;
}

.games-des {
    font-size: 24px;
    padding: 5px 5px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-container p {
    text-align: center;

}

.img {
    width: 300px;
    height: 350px;

}

.card-3 img:hover {
    cursor: pointer;
    width: 330px;
    height: 380px;
    filter: brightness(50%);
}

/* ------ online games part end------- */


/* ------play online games part start------- */
.online-games {
    margin: 200px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-img {
    width: 250px;

}

/* ------play online games part end------- */

/* ---games versions part start--- */
.game-version {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


}

.games {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px;

}

.games p {
    margin-left: 10px;
}

/* ---games versions part end--- */